In [1]:
import pandas as pd

In [38]:
names = ["fixed acidity","vola,tile acidity","citric acid","residual sugar","chlorides","free sulfur dioxide","total sulfur dioxide","density","pH","sulphates","alcohol","quality"]

In [60]:
wine_red = pd.read_csv('winequality-red.csv',sep=';', header = None, names = names)
wine_red = wine_red.drop([0,0])

wine_white = pd.read_csv('winequality-white.csv',sep=';', header = None, names = names)
wine_white = wine_white.drop([0,0])

In [61]:
wine_red.head()

,fixed acidity,"vola,tile acidity",citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
2,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
3,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
4,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
5,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

In [62]:
wine_red.describe()

,fixed acidity,"vola,tile acidity",citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599
unique,96,143,80,91,153,60,144,436,89,96,65,6
top,7.2,0.6,0,2,0.08,6,28,0.9972,3.3,0.6,9.5,5
freq,67,47,132,156,66,138,43,36,57,69,139,681

In [73]:
sort_quality_red = wine_red.sort_values(by=['quality'],ascending=False)
sort_quality_red

,fixed acidity,"vola,tile acidity",citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
496,10.7,0.35,0.53,2.6,0.07,5,16,0.9972,3.15,0.65,11,8
1404,7.2,0.33,0.33,1.7,0.061,3,13,0.996,3.23,1.1,10,8
391,5.6,0.85,0.05,1.4,0.045,12,88,0.9924,3.56,0.82,12.9,8
1062,9.1,0.4,0.5,1.8,0.071,7,16,0.99462,3.21,0.69,12.5,8
1203,8.6,0.42,0.39,1.8,0.068,6,12,0.99516,3.35,0.69,11.7,8
...,...,...,...,...,...,...,...,...,...,...,...,...
691,7.4,1.185,0,4.25,0.097,5,14,0.9966,3.63,0.54,10.7,3
1479,7.1,0.875,0.05,5.7,0.082,3,14,0.99808,3.4,0.52,10.2,3
900,8.3,1.02,0.02,3.4,0.084,6,11,0.99892,3.48,0.49,11,3
1300,7.6,1.58,0,2.1,0.137,5,9,0.99476,3.5,0.4,10.9,3
833,10.4,0.44,0.42,1.5,0.145,34,48,0.99832,3.38,0.86,9.9,3

In [68]:
wine_white.head()

,fixed acidity,"vola,tile acidity",citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6
2,6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9.5,6
3,8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,10.1,6
4,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
5,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6

In [69]:
wine_white.describe()

,fixed acidity,"vola,tile acidity",citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898,4898,4898,4898,4898,4898,4898,4898,4898,4898,4898,4898
unique,68,125,87,310,160,132,251,890,103,79,104,7
top,6.8,0.28,0.3,1.2,0.044,29,111,0.992,3.14,0.5,9.4,6
freq,308,263,307,187,201,160,69,64,172,249,229,2198

In [71]:
sort_quality_white = wine_white.sort_values(by=['quality'],ascending=False)
sort_quality_white

,fixed acidity,"vola,tile acidity",citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
828,7.4,0.24,0.36,2,0.031,27,139,0.99055,3.28,0.48,12.5,9
1606,7.1,0.26,0.49,2.2,0.032,31,113,0.9903,3.37,0.42,12.9,9
877,6.9,0.36,0.34,4.2,0.018,57,119,0.9898,3.28,0.36,12.7,9
775,9.1,0.27,0.45,10.6,0.035,28,124,0.997,3.2,0.46,10.4,9
821,6.6,0.36,0.29,1.6,0.021,24,85,0.98965,3.41,0.61,12.4,9
...,...,...,...,...,...,...,...,...,...,...,...,...
1485,7.5,0.32,0.24,4.6,0.053,8,134,0.9958,3.14,0.5,9.1,3
2374,7.6,0.48,0.37,1.2,0.034,5,57,0.99256,3.05,0.54,10.4,3
252,8.5,0.26,0.21,16.2,0.074,41,197,0.998,3.02,0.5,9.8,3
1689,6.7,0.25,0.26,1.55,0.041,118.5,216,0.9949,3.55,0.63,9.4,3
254,5.8,0.24,0.44,3.5,0.029,5,109,0.9913,3.53,0.43,11.7,3